* {
  font-family: 'Open Sans Condensed', 'Microsoft Yahei',sans-serif;
  color: #464646;
  /*transition: all 1.5s linear;*/
  overflow: hidden !important;
  box-sizing: border-box; 
  }
ul{list-style-type: none;}
.container {
  width: 100%;
  height: 100%; }
  .container .bg-img {
    position: fixed;
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    background-size: cover;
    background-position: center center;
  }
    .container .bg-img .bg-gray {
  width:100%;
  height:100%;
  position:absolute;
  background:rgba(255,255,255,.3);
  -pie-background:rgba(255,255,255,.3);
  z-index: 2;
      }
.container .bg-img img {
      position: absolute; 
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0; 
      margin: auto; 
      min-width: 50%;
      min-height: 50%;
    }
.header {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:#464646;
  display: table;
  text-align: center;
  color: #e2e8e7;
  z-index: 10; }
  .header h1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 72px;
    z-index: 2;
    position: relative;
    color: #E2E8E7; }

.main {
  position: absolute;
  width: 100%;
  height: 100%; }
  div.login {
    background:url(../img/bg-s.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    height: 320px;
    width: 320px;
    bottom: -520px;
    left: 50%;
    margin-left: -150px;
    box-shadow: 0 0 20px 2px #464646;
    -moz-box-shadow: 0 0 20px 2px #464646;
    -webkit-box-shadow: 0 0 20px 2px #464646;
    z-index: 2; 
    visibility: hidden;
  }
  div.is-visible{
      visibility: visible;
    }
.login-html{
  width:100%;
  height:100%;
  position:absolute;
  padding:12px 24px 24px;
  background:rgba(40,57,101,.7);
  -pie-background:rgba(40,57,101,.7);
  z-index: 3;
}
.login-html .tab{
  font-size:22px;
  margin-right:15px;
  padding-bottom:0;
  margin:0 15px 10px 0;
  display:inline-block;
  border-bottom:2px solid transparent;
}
.login-html .tab{
  color:#fff;
  border-color:#1161ee;
}
.login-form{
  position:relative;
  perspective:1000px;
  transform-style:preserve-3d;
}
.login-form .group{
  margin-bottom:12px;
}
input{
  font-size: 1.5em;
  height: 1.7em;
  line-height: 1.5;
  vertical-align: middle;
  width: 100%; 
  color:#fff;
  display:block;
  border:none;
  padding:6px 20px;
  border-radius:25px;
  background:rgba(255,255,255,.3);
  -pie-background:rgba(255,255,255,.3);
}
.login-form .group .label{
  width:100%;
  color:#fff;
  display:block;
}
.login-form .group input[data-type="password"]{
  text-security:circle;
  -webkit-text-security:circle;
}
.login-form .group .label{
  color:#aaa;
  font-size:12px;
}
.button{
  padding: 0;
  margin-top:17px;
  background:#1161ee;
  cursor: pointer;
}

label.error {
    display:block;
    margin-bottom: -4px;
    color: red;
}
.container.loaded .bg-img {
  opacity: 1;
  filter: blur(0);
  transform: scale(1); }
.container.loaded .header {
  height: 40px;
  background-color: #00b3a0;
  box-shadow: 0 0 20px 2px #464646; 
  -moz-box-shadow: 0 0 20px 2px #464646;
  -webkit-box-shadow: 0 0 20px 2px #464646;
}
  .container.loaded .header h1 {
    font-size: 24px; }
.footmenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
.footmenu {
  height: 115px;
  background: url(../img/foot_bj.png) repeat-x;
}

.footmenu ul {
  width: 100%;
  padding-left: 0;
  margin: 0;
  margin-top: 7px;
}

.footmenu ul li {
  float: left;
  width: 20%;
  height: 108px;
  background: none;
  text-align: center;
  overflow: hidden;
}

.footmenu ul li a {
  line-height: 88px;
  height: 88px;
  display: inline-block;
  width: 85%;
  padding-left: 15%;
}
.disableCss{
  cursor: default;
}
.footmenu ul li a i {
  padding-top: 14px;
  padding-right: 25px;
  float: left;
  display: block;
  width: 64px;
}

.footmenu ul li h2 {
  color: #3b474b;
  text-align: center;
  float: left;
  font-weight: normal;
}

.footmenu ul li a:hover>h2 {
  color: #1CA2CE;
  font-weight: normal;
}
      .footmenu ul li:hover{
        background: url(../img/foot_img_bj02.png) repeat;
        font-size: 18px;
        border: 2px dashed #ff3;
      }
      
      .footmenu ul li:hover>a>h2{
        color: #fff;
        font-size: 18px;
      }
      .footmenu ul li h2{
        font-size: 16px;
      }
      

